<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
          bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="default">
            <directory>tests/Regression</directory>
            <directory>tests/Functional</directory>
            <directory>tests</directory>
        </testsuite>
        <testsuite name="coverage">
            <directory>tests</directory>
            <exclude>tests/Regression</exclude>
            <exclude>tests/Functional</exclude>
        </testsuite>
        <testsuite name="regression">
            <directory>tests/Regression</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
